body{
    font-family: 'Montserrat';
}
h1{
    font-family: "Montserrat";
    color:white;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
}
h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.image-title{
    transform: rotate(25deg);
    width:20%;  
    position: absolute;
    right: 24%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
#title{
    background-color: #ff4c68;  
}

.container-fluid{
    padding:3% 15% 7%;
}
.navbar{
    padding-bottom:4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
 
}
.nav-link{
    font-size: 1rem;
    font-weight: 500;
}

.download-button{
    margin:5% 3% 5% 0%;
}
.para{
    font-weight: 500;
    color: #8f8f8f;
}
.center{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}
.icon:hover{
     color: #ff4c68;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonials-image{
    width:10%;
    border-radius: 100%;
    margin :20px;
}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}
.carousel-item{
   padding:7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

@media(max-width:1028px){

    #title{
        text-align: center;
    }
    .image-title{
    position: static;
     transform:rotate(0);
     width:60%;
    }
}
#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    
}
.h3{
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    color: #fff;
    
}
.btn-bottom{
    margin:5% 3% 5% 0%;
}
#footer{
    text-align: center;
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 10px;
}